<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{imageTitle}}</h1>
        </div>
    </div>

    <div class="row">
        <!--Body content-->

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <img ng-src="{{imageURL}}" class="img-responsive img-rounded">
                    </div>
                    <div class="panel-footer">{{imageDescription}}
                        <p>Location: {{imageLocation}}</p>
                        <p>Owner: {{imageOwner}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-header">
                        <h2>Comments</h2>
                    </div>
                    <div class="panel-body comment-panel">
                            <div class="row" ng-repeat="i in commentArray">
                                <div class="col-xs-3 comment-photo">
                                    <img class="img-responsive" ng-src="{{i.userImg}}">
                                </div>
                                <div class="col-xs-9 comment-body">
                                    <div class="panel panel-info">
                                        <div class="panel-header">
                                            {{i.username}}
                                        </div>
                                        <div class="panel-body">
                                            {{i.message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" ng-model="comment" ng-keydown="addComment($event)" class="form-control" placeholder="Add comment...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="addComment()">Add</button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>