<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--Sidebar content-->

            <div class="input-group search-bar">
                <input type="text" ng-model="search" ng-model-options="{debounce: 1000}" ng-change="locationSearch()" class="form-control" placeholder="Enter Location" autofocus />
                <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>

    </div>
    <div class="row">
    <p>{{location}}</p>
        <p>{{lat}} -- {{lng}}</p>
    </div>


    <div class="row">
        <!--Body content-->

        <div ng-repeat="url in imgURLs" ng-if="$index % 3 == 0" class="row">
            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <a href="#/images/{{url.id}}">
                            <img ng-src="{{imgURLs[$index].imgURL}}" class="img-responsive img-rounded img-thumbnail" max-width: 50%>
                        </a>
                    </div>
                    <div class="panel-footer"><a href="#/images/{{url.id}}">{{imgURLs[$index].title}}</a></div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <a href="#/images/{{imgURLs[$index+1].id}}">
                            <img ng-src="{{imgURLs[$index+1].imgURL}}" class="img-responsive img-rounded img-thumbnail" max-width: 50%>
                        </a>
                    </div>
                    <div class="panel-footer"><a href="#/images/{{imgURLs[$index+1].id}}">{{imgURLs[$index+1].title}}</a></div>
                </div>
            </div>


            <div class="col-xs-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <a href="#/images/{{imgURLs[$index+2].id}}">
                            <img ng-src="{{imgURLs[$index+2].imgURL}}" class="img-responsive img-rounded img-thumbnail" max-width: 50%>
                        </a>
                    </div>
                    <div class="panel-footer"><a href="#/images/{{imgURLs[$index+2].id}}">{{imgURLs[$index+2].title}}</a></div>
                </div>
            </div>

        </div>


    </div>
</div>